/* Style for the day headers */
.day-header {
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 10px;
    -fx-border-width: 1px 0;
    -fx-max-width: 200px;
    -fx-min-width: 130px;
}

/* Style for the hour labels */
.hour-label {
    -fx-font-weight: bold;
    -fx-alignment: center-right; /* Note: -fx-alignment might not work as expected for Label */
    -fx-padding: 2px 5px;
    -fx-min-width: 45px;
}

/* Style for vertical separators */
.vertical-separator {
    -fx-pref-width: 1px;
    -fx-background-color: #d3d3d3; /* Separator color */
    -fx-border-width: 0 0 0 1px; /* Right border */
}

/* Style for day separators */
.day-separator {
    -fx-border-color: black; /* Color of the separator line */
    -fx-border-width: 0 1 0 0; /* Only draw a right border to create the separator */
}

/* Style for seance details within a seance pane */
.seance-details {
    -fx-padding: 0 10 0 10; /* Top Right Bottom Left padding */
    -fx-alignment: center;
}

/* Style for labels within seance details */
.seance-label {
    -fx-text-fill: black;
    -fx-wrap-text: true;
    -fx-max-width: 200px; /* Adjust based on your needs */
    -fx-min-width: 75px;
    -fx-label-padding: 5 0 5 0; /* Top Right Bottom Left */
}

/* Style for the seance pane */
.seance-pane {
    -fx-background-color: #c5dec5;
    -fx-border-color: #a1a1a1;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.time-marker {
    -fx-background-color: red; /* Visible color to stand out */
    -fx-pref-height: 0px; /* Thin line */
}

.user-label {
    -fx-font-weight: bold;
    -fx-text-fill: #597b8d; /* Text color */
    -fx-background-color: transparent;
    -fx-font-size: 14px; /* Font size */
}

/* Styles pour le mode sombre */
.dark-mode .root{
    -fx-background-color: black;
    -fx-text-fill: white;


}

.dark-mode .button {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.dark-mode .combo-box {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #000000;
}






